/*VARIABLES*/
$bg-colour: white;
$header-colour: $bg-colour;
$facens-colour: #0878BB;
$brand-color: $facens-colour;
$transparent-black: rgba(0,0,0,0.15);
/*VARIABLES*/

/*IMPORTS*/
@import "./mustard-ui-master/src/scss/mustard-ui.scss";
/*IMPORTS*/

/*CSS RESET*/
html {
    box-sizing: border-box;
    font-size: 16px;
}
body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}
img {
    max-width: 100%;
    height: auto;
}
ol, ul {list-style: none;}
*, *:before, *:after {box-sizing: inherit;}

a, u {
    text-decoration: none;
    color: black;
}
/*CSS RESET*/

html {
    font-family: 'Fira Sans Condensed', sans-serif;   
}

body{
    background-color: $bg-colour;
    
}

::-webkit-scrollbar{
    display: none;
}

nav{
    height: 5rem;
    z-index: 5;
    background-color: $header-colour;
    display: flex;
    position: fixed;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    box-shadow: 1px 3px 2px rgba(0,0,0,0.2);

    div{
        img{
            max-height: 80px;
        }
    }

    .links{
        display: flex;
    
        a{
            display: block;
            padding: 1rem;
        }
    }
}

.left-button{
    width: 20vw;
    margin: 0 auto;
    position: relative;
    z-index: 1;
}

.center-them{
    margin: 0 auto;
    position: relative;
    display: flex;
}

.help{
    margin-left: 2rem;
}

h1{
    padding: 10rem 0rem 2.5rem 0rem;
    text-align: center;
}

.form{
    margin: 0 auto;
    margin-bottom: 2%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: $transparent-black;
    width: 30%;
    padding: 2rem;

    .item, button, p{
        width: 100%;
        margin-top: 0.5rem;
    }
    input[type=text], input[type=password], select{
        width: 100%;
        margin: 0.3rem 0.3rem 0.3rem 0rem;
    }
}


.tabelaUsuarios, .tabelaHistorico{
    margin: 0 auto;
    position: relative;
    background-color: $transparent-black;
    width: 80%;
    margin-top: 2.5rem;
    padding: 2rem;
    margin-bottom: 2rem;
    text-align: center;
    th, td{
        display: inline-block;
        padding: 1rem;
        text-align: center;
    }

}

.tabelaUsuarios {
    th, td{
        width: 50%;
    }
}

.tabelaHistorico {
    th, td{
        width: 16.65%;
    }
}

.locais, #novo-veiculo-toggle, .veiculos, .setores, .saveReg{
    display: block;
}

#pieChartVisitas, #lineChartVisitasHora{
    min-width: 100vw;
    height: 70vh;
    margin: 0 auto;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
    position: relative;
    .highcharts-credits{
        display: none;
    }
}
